.gran{
    height: 70vh;
}

.car{
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */
       
}

.cartes{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 equal columns */
    grid-gap: 20px;                        /* Space between the cards */
    margin-left: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}
@media screen and (max-width: 768px) {
    .gran {
      width: 90%;
    }
  }
  
  @media screen and (max-width: 480px) {
    .gran {
      width: 100%;
    }
  }